# Project name: Civil Servants Remuneration in the EU
## Final analysis
### Part 1: Data wrangling

In [45]:
# import relevant libraries
import pandas as pd

In [46]:
# load the datasets
df_income = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/1. Mean and median income in the EU.csv')
df_salary = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/2. EU Civil Servant average salary.csv')
df_number = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/3. EU_Number of civil servants.csv')

In [47]:
# view data
print('-EU income data-')
print(df_income.head())
print('\n')
print('-EU civil servants average salary-')
print(df_salary.head())
print('\n')
print('-EU civil servants average number of employees-')
print(df_number.head())

-EU income data-
   time      geo    sex         age  value_mean  value_median
0  2012  Belgium  Total    18 to 54     23865.0       22750.0
1  2012  Belgium  Total    18 to 59     23950.0       22754.0
2  2012  Belgium  Total    18 to 64     23716.0       22452.0
3  2012  Belgium  Total  18 or over     22365.0       20773.0
4  2012  Belgium  Total    20 to 64     23833.0       22514.0


-EU civil servants average salary-
   time       geo   value
0  2014   Belgium  2647.7
1  2014  Bulgaria   547.4
2  2014   Czechia   948.5
3  2014   Denmark  2515.6
4  2014   Germany  3654.3


-EU civil servants average number of employees-
   time       geo    value
0  2012   Belgium  34697.0
1  2012  Bulgaria  45114.0
2  2012   Czechia  19163.0
3  2012   Denmark   7832.0
4  2012   Germany  13280.0

In [48]:
# drop the median column from df_income
df_income.drop('value_median', axis=1, inplace=True)

In [49]:
# group column in df_income to reflect average per year
df_income = df_income.groupby(['time', 'geo'], as_index=False)['value_mean'].mean()

In [50]:
# join the tables
df_first = pd.merge(df_income, df_salary, on =['time', 'geo'])
df = pd.merge(df_first, df_number, on =['time', 'geo'])

In [51]:
df

     time          geo    value_mean  value_x   value_y
0    2014      Austria  28048.939394   2613.0   20566.0
1    2014      Belgium  24173.848485   2647.7   31297.0
2    2014     Bulgaria   4058.848485    547.4   34718.0
3    2014      Croatia   5947.666667      0.0   11537.0
4    2014       Cyprus  19982.515152   2152.8    8992.0
..    ...          ...           ...      ...       ...
204  2021  Netherlands  31003.606061   2927.0  135437.0
205  2021      Romania   5534.636364    907.0     436.0
206  2021     Slovenia  16777.757576   1726.0   20428.0
207  2021        Spain  19459.393939   2909.0   37685.0
208  2021       Sweden  29611.545455   3080.0   69256.0

[209 rows x 5 columns]