# Project name: Civil Servants Remuneration in the EU
## Final analysis
### Part 1: Data wrangling

In [89]:
# import relevant libraries
import pandas as pd

In [90]:
# load the datasets
df_income = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/1. Mean and median income in the EU.csv')
df_salary = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/2. EU Civil Servant average salary.csv')
df_number = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/3. EU_Number of civil servants.csv')

In [91]:
# view data
print('-EU income data-')
print(df_income.head())
print('\n')
print('-EU civil servants average salary-')
print(df_salary.head())
print('\n')
print('-EU civil servants average number of employees-')
print(df_number.head())

-EU income data-
   time       geo        income
0  2012   Austria  26073.727273
1  2012   Belgium  22347.909091
2  2012  Bulgaria   3363.454545
3  2012   Croatia   6114.272727
4  2012    Cyprus  21527.363636


-EU civil servants average salary-
   time       geo   salary
0  2014   Belgium  31772.4
1  2014  Bulgaria   6568.8
2  2014   Czechia  11382.0
3  2014   Denmark  30187.2
4  2014   Germany  43851.6


-EU civil servants average number of employees-
   time       geo  employees
0  2012   Belgium    34697.0
1  2012  Bulgaria    45114.0
2  2012   Czechia    19163.0
3  2012   Denmark     7832.0
4  2012   Germany    13280.0

In [92]:
# group column in df_income to reflect average per year
df_income = df_income.groupby(['time', 'geo'], as_index=False)['income'].mean()

In [93]:
# join the tables
df_first = pd.merge(df_income, df_salary, on =['time', 'geo'])
df = pd.merge(df_first, df_number, on =['time', 'geo'])

In [94]:
df

     time          geo        income   salary  employees
0    2014      Austria  28018.454545  31356.0    20566.0
1    2014      Belgium  24156.909091  31772.4    31297.0
2    2014     Bulgaria   4052.909091   6568.8    34718.0
3    2014      Croatia   5940.636364      0.0    11537.0
4    2014       Cyprus  19964.454545  25833.6     8992.0
..    ...          ...           ...      ...        ...
204  2021  Netherlands  30993.000000  35124.0   135437.0
205  2021      Romania   5526.818182  10884.0      436.0
206  2021     Slovenia  16765.454545  20712.0    20428.0
207  2021        Spain  19446.272727  34908.0    37685.0
208  2021       Sweden  29594.090909  36960.0    69256.0

[209 rows x 5 columns]