# Project name: Civil Servants Remuneration in the EU
## Final analysis
### Part 1: Data wrangling

In [10]:
# import relevant libraries
import pandas as pd

In [11]:
# load the datasets
df_income = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/1. Mean and median income in the EU.csv')
df_salary = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/2. EU Civil Servant average salary.csv')
df_number = pd.read_csv('/Volumes/GoogleDrive-114951830941804947409/My Drive/Data analyst/Projects/Civil_Servant_Salary_EU/modified_data/3. EU_Number of civil servants.csv')

In [12]:
# view data
print(df_income.head())
print('\n')
print(df_salary.head())

   time      geo    sex         age  value_mean  value_median
0  2012  Belgium  Total    18 to 54     23865.0       22750.0
1  2012  Belgium  Total    18 to 59     23950.0       22754.0
2  2012  Belgium  Total    18 to 64     23716.0       22452.0
3  2012  Belgium  Total  18 or over     22365.0       20773.0
4  2012  Belgium  Total    20 to 64     23833.0       22514.0


   time       geo   value
0  2014   Belgium  2647.7
1  2014  Bulgaria   547.4
2  2014   Czechia   948.5
3  2014   Denmark  2515.6
4  2014   Germany  3654.3