# Project name: Civil Servants Remuneration in the EU
## Part 2: 2. Average remuneration of national civil servants in central public administration [prc_rem_avg]
### Step 1: Data wrangling

In [1]:
# Import relevant libraries
import pandas as pd

In [2]:
# Load the data
df_salary = pd.read_csv('/Users/home/Documents/GitHub/Civil_Servant_Salary_EU/original_data/2. Average remuneration of national civil servants in central public administration [prc_rem_avg].csv')

In [3]:
# take a first look at the data
df_salary.head()

,TIME,GEO,LCSTRUCT,P_ADJ,UNIT,Value
0,2014S2,"European Union (EU6-1958, EU9-1973, EU10-1981,...",Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,289.6"
1,2014S2,European Union (aggregate changing according t...,Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,519.2"
2,2014S2,European Union - 27 countries (from 2020),Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,298.6"
3,2014S2,Belgium,Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,647.7"
4,2014S2,Bulgaria,Net remuneration in nominal terms / real terms,Nominal value,Euro,547.4

In [6]:
# make column names lower case
df_salary.columns = df_salary.columns.str.lower()

In [13]:
df_salary.lcstruct

0      Net remuneration in nominal terms / real terms
1      Net remuneration in nominal terms / real terms
2      Net remuneration in nominal terms / real terms
3      Net remuneration in nominal terms / real terms
4      Net remuneration in nominal terms / real terms
                            ...
243    Net remuneration in nominal terms / real terms
244    Net remuneration in nominal terms / real terms
245    Net remuneration in nominal terms / real terms
246    Net remuneration in nominal terms / real terms
247    Net remuneration in nominal terms / real terms
Name: lcstruct, Length: 248, dtype: object