# Project name: Civil Servants Remuneration in the EU
## Part 2: 2. Average remuneration of national civil servants in central public administration [prc_rem_avg]
### Step 1: Data wrangling

LAST UPDATE: 22.08.22 17:37:26
EXTRACTION DATE: 29.08.22 11:31:53
SOURCE OF DATA: Eurostat

### Column names and description of the values it holds
TIME: Year and
GEO: Country name
UNIT: Euro/Purchasing power standard (PPS)
INDIC_IL: Mean and Median of the net income
CITIZEN: EU, Non-EU, Foreign country, Reporting country
SEX: Total, Males, Females
AGE: From 18 to 54 years; From 18 to 59 years; From 18 to 64 years; 18 years or over; From 20 to 64 years; From 25 to 54 years; From 25 to 59 years; From 55 to 64 years; 55 years or over; 60 years or over; 65 years or over

In [1]:
# Import relevant libraries
import pandas as pd

In [2]:
# Load the data
df_salary = pd.read_csv('/Users/home/Documents/GitHub/Civil_Servant_Salary_EU/original_data/2. Average remuneration of national civil servants in central public administration [prc_rem_avg].csv')

In [3]:
# take a first look at the data
df_salary.head()

,TIME,GEO,LCSTRUCT,P_ADJ,UNIT,Value
0,2014S2,"European Union (EU6-1958, EU9-1973, EU10-1981,...",Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,289.6"
1,2014S2,European Union (aggregate changing according t...,Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,519.2"
2,2014S2,European Union - 27 countries (from 2020),Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,298.6"
3,2014S2,Belgium,Net remuneration in nominal terms / real terms,Nominal value,Euro,"2,647.7"
4,2014S2,Bulgaria,Net remuneration in nominal terms / real terms,Nominal value,Euro,547.4

In [4]:
# make column names lower case
df_salary.columns = df_salary.columns.str.lower()

In [6]:
df_salary.time.unique()

array(['2014S2', '2015S2', '2016S2', '2017S2', '2018S2', '2019S2',
       '2020S2', '2021S2'], dtype=object)