# Project name: Civil Servants Remuneration in the EU
## Part 3: EU Civil Servant number of civil servants employed
### Step 1: Data wrangling

LAST UPDATE: 22.08.22 17:37:26
EXTRACTION DATE: 29.08.22 11:31:53
SOURCE OF DATA: Eurostat

### Column names and description of the values it holds
TIME: Year

GEO: Country name

STATINFO: Term to represent data coverage (Total)

UNIT: Term to represent the value (Number)

VALUE: Represent the total number of civil servant employees

# Data Gathering

The cells below contain the wrangling process of the data related to the total number of the EU civil servants.

In [304]:
# import relevant libraries
import pandas as pd

In [305]:
# load the data
df_number = pd.read_csv('/Users/home/Documents/GitHub/Civil_Servant_Salary_EU/original_data/3. National civil servants in central public administration [prc_rem_nr].csv')

In [306]:
# view data
df_number.head()

,TIME,GEO,STATINFO,UNIT,Value
0,2012S2,Belgium,Total,Number,"34,697"
1,2012S2,Bulgaria,Total,Number,"45,114"
2,2012S2,Czechia,Total,Number,"19,163"
3,2012S2,Denmark,Total,Number,"7,832"
4,2012S2,Germany (until 1990 former territory of the FRG),Total,Number,"13,280"

In [307]:
# check the datatypes
df_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TIME      280 non-null    object
 1   GEO       280 non-null    object
 2   STATINFO  280 non-null    object
 3   UNIT      280 non-null    object
 4   Value     280 non-null    object
dtypes: object(5)
memory usage: 11.1+ KB