# Project name: Civil Servants Remuneration in the EU
## Part 3: EU Civil Servant number of civil servants employed
### Step 1: Data wrangling

LAST UPDATE: 22.08.22 17:37:26
EXTRACTION DATE: 29.08.22 11:31:53
SOURCE OF DATA: Eurostat

### Column names and description of the values it holds
TIME: Year

GEO: Country name

STATINFO: Term to represent data coverage (Total)

UNIT: Term to represent the value (Number)

VALUE: Represent the total number of civil servant employees

# Data Gathering

The cells below contain the wrangling process of the data related to the total number of the EU civil servants.

In [304]:
# import relevant libraries
import pandas as pd

In [305]:
# load the data
df_number = pd.read_csv('/Users/home/Documents/GitHub/Civil_Servant_Salary_EU/original_data/3. National civil servants in central public administration [prc_rem_nr].csv')

In [306]:
# view data
df_number.head()

,TIME,GEO,STATINFO,UNIT,Value
0,2012S2,Belgium,Total,Number,"34,697"
1,2012S2,Bulgaria,Total,Number,"45,114"
2,2012S2,Czechia,Total,Number,"19,163"
3,2012S2,Denmark,Total,Number,"7,832"
4,2012S2,Germany (until 1990 former territory of the FRG),Total,Number,"13,280"

In [307]:
# check the datatypes
df_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TIME      280 non-null    object
 1   GEO       280 non-null    object
 2   STATINFO  280 non-null    object
 3   UNIT      280 non-null    object
 4   Value     280 non-null    object
dtypes: object(5)
memory usage: 11.1+ KB

In [308]:
# view unique values in each column
def uniq_val(column_name = ''):
    print(df_number[column_name].unique())
for column in df_number.columns:
    print(column + ':')
    uniq_val(column)
    print('\n')

TIME:
['2012S2' '2013S2' '2014S2' '2015S2' '2016S2' '2017S2' '2018S2' '2019S2'
 '2020S2' '2021S2']


GEO:
['Belgium' 'Bulgaria' 'Czechia' 'Denmark'
 'Germany (until 1990 former territory of the FRG)' 'Estonia' 'Ireland'
 'Greece' 'Spain' 'France' 'Croatia' 'Italy' 'Cyprus' 'Latvia' 'Lithuania'
 'Luxembourg' 'Hungary' 'Malta' 'Netherlands' 'Austria' 'Poland'
 'Portugal' 'Romania' 'Slovenia' 'Slovakia' 'Finland' 'Sweden'
 'United Kingdom']


STATINFO:
['Total']


UNIT:
['Number']


Value:
['34,697' '45,114' '19,163' '7,832' '13,280' '15,200' '24,077' '69,993'
 '34,897' '77,774' ':' '166,420' '13,525' '2,973' '16,368' '946' '11,694'
 '23,865' '110,887' '48,734' '128,596' '118,552' '12,221' '21,149'
 '33,778' '24,974' '60,224' '350,990' '28,681' '36,788' '18,806' '12,980'
 '10,081' '24,286' '58,300' '42,382' '73,837' '159,674' '9,590' '2,904'
 '16,951' '984' '12,403' '24,511' '109,098' '19,996' '127,622' '92,391'
 '13,191' '17,872' '62,465' '337,570' '31,297' '34,718' '17,691' '12,376'
 '9,360' '24,420' '66,857' '41,590' '78,182' '11,537' '155,482' '8,992'
 '3,041' '16,627' '986' '14,287' '25,273' '108,732' '20,566' '22,455'
 '89,152' '36,130' '62,215' '310,600' '28,425' '33,536' '18,558' '15,437'
 '6,934' '24,597' '67,947' '40,173' '28,743' '12,321' '153,261' '8,758'
 '4,393' '16,143' '966' '14,727' '109,389' '20,519' '22,358' '103,460'
 '18,980' '36,553' '33,386' '63,694' '317,580' '25,653' '34,921' '19,074'
 '15,750' '6,765' '25,567' '70,560' '39,119' '28,684' '149,715' '8,728'
 '4,266' '15,619' '958' '16,955' '109,053' '20,393' '22,156' '95,335'
 '18,988' '36,411' '28,948' '61,052' '307,850' '23,958' '35,642' '19,003'
 '11,155' '16,790' '6,634' '26,250' '36,864' '27,306' '12,407' '144,817'
 '8,615' '4,216' '15,133' '970' '14,236' '109,251' '18,987' '22,119'
 '96,760' '19,369' '28,704' '63,396' '417,925' '10,719' '36,218' '20,995'
 '10,577' '17,042' '6,508' '28,091' '75,905' '36,707' '263,200' '14,164'
 '141,977' '8,551' '16,480' '13,968' '938' '14,867' '118,251' '18,443'
 '22,473' '99,896' '19,854' '37,306' '29,064' '66,535' '419,399' '11,389'
 '37,010' '21,672' '11,493' '18,383' '6,459' '29,393' '75,112' '36,981'
 '263,849' '14,907' '134,374' '8,617' '13,606' '13,933' '15,042' '27,852'
 '121,291' '16,863' '22,719' '101,104' '19,945' '29,003' '66,409'
 '429,989' '14,321' '35,470' '21,901' '12,197' '6,424' '29,342' '74,661'
 '37,290' '264,104' '12,211' '132,280' '8,746' '13,659' '13,597' '3,481'
 '15,049' '28,476' '127,073' '15,691' '24,066' '102,555' '20,370' '32,231'
 '30,222' '68,358' '430,190' '17,615' '36,068' '21,889' '11,816' '24,224'
 '6,333' '30,369' '73,242' '37,685' '260,626' '12,632' '124,851' '10,193'
 '14,091' '13,977' '4,011' '15,084' '29,068' '135,437' '14,892' '24,161'
 '106,563' '436' '20,428' '31,716' '69,256']

In [309]:
# drop the redundant columns
df_number.drop(columns=['STATINFO', 'UNIT'], axis=1, inplace=True)